[Unit]
Description=Akita prometheus exporter
Requires=network.target

[Service]
Type=simple
User=prometheus
Group=prometheus
Environment="HOME={{ home }}"
WorkingDirectory={{ home }}
ExecStart=/usr/local/bin/ruby-service $HOME %p bundle exec puma -C prometheus-exporter/akita_collector.rb --prefix akita_

[Install]
WantedBy=multi-user.target