[Unit]
Description=Akita prometheus exporter
Requires=network.target

[Service]
Type=simple
User=prometheus
Group=prometheus
Environment="HOME={{ home }}"
WorkingDirectory={{ home }}
ExecStart=/bin/bash -c '{{ home }}/prometheus-exporter/start-akita-exporter.sh'

[Install]
WantedBy=multi-user.target