{% if salt.grains.has_value('subconfig') %}
  {{ salt.grains.setval('env_complete', grains.get('environment') + "_" + grains.get('subconfig')) }}
{% else %}
  {{ salt.grains.set('env_complete', grains.get('environment')) }}
{% endif %}

{% set props = salt['grains.filter_by'](
{
  'default':{
    'rails_env': 'development',
    'ned_service': 'http://localhost:8888/v1/',
    'cas_url': 'https://localhost:8880',
    'mailer_address': 'localhost',
    'mailer_port': '1025',
    'salesforce_host': 'plos--akitadev.cs14.my.salesforce.com',
    'salesforce_user': 'akitaintegration@plos.org.akitadev',
    'salesforce_import_notify_to': 'platform@plos.org',
    'jwt_public_keys': {
      'aperta': '-----BEGIN PUBLIC KEY-----
        MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEVEinorB7ZuT0zBrgNeQslmrCx09o
        gC5fsx6/mOvM8zBFGbZZ37bjBuMSJyuuXFSxYhdneI9jANZ7jXwEomQ1Xg==
        -----END PUBLIC KEY-----',
      'platform_dev': '-----BEGIN PUBLIC KEY-----
        MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEvDaJuGUefeKHdMhOEf7viKXXF46r
        mxZDCOo+mReRgHQZPwzOkYyrP5qNcFz1ZbSjVwYfR6C8o80Mb5Xxww/0Jw==
        -----END PUBLIC KEY-----'
    }
  },
  'vagrant': {
    'ned_service': 'http://ned.vagrant.local:8080/v1/',
    'cas_url': 'http://nedcas.vagrant.local:8080',
  },
  'vagrant_nedcasakita': {
    'cas_url': 'http://nedcasakita.vagrant.local:8880'
  },
  'dev': {
    'ned_service': 'http://ned-201.soma.plos.org:8080/v1/',
    'cas_url': 'https://nedcas-dev.plos.org'
  },
  'qa': {
    'rails_env': 'integration',
    'ned_service': 'http://ned-301.soma.plos.org:8080/v1/',
    'cas_url': 'https://nedcas-qa.plos.org'
  },
  'qa_nedcasakita': {
    'rails_env': 'integration',
    'cas_url': 'https://nedcas-integration.plos.org'
  },
  'stage': {
    'rails_env': 'integration',
    'ned_service': 'http://ned-401.soma.plos.org:8080/v1/',
    'cas_url': 'https://nedcas-stage.plos.org',
    'mailer_address': 'plos-org.mail.protection.outlook.com',
    'mailer_port': '25'
  },
  'prod': {
    'rails_env': 'production',
    'ned_service': 'http://ned.soma.plos.org/v1',
    'cas_url': 'https://register.plos.org',
    'mailer_address': 'plos-org.mail.protection.outlook.com',
    'mailer_port': '25',
    'salesforce_host': 'login.salesforce.com',
    'salesforce_user': 'akitaintegration@plos.org',
    'salesforce_import_notify_to': 'edboardmgmt@plos.org',
    'jwt_public_keys': {
      'aperta': '-----BEGIN PUBLIC KEY-----
        MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEcrZ/0MogfOblkHs0OjZNynOC4AVi
        /iS1uobx8iInzvOMVEewB/Kcx9t56dTWhyrKSPSLeq00+1UVjFYugsPSHQ==
        -----END PUBLIC KEY-----',
      'platform_dev': '---public key invalidated!----'
    }
  }
}
, grain='env_complete', base='default') %}
